<br />

<div class="booyah-box col-10 offset-1">
  <div class="dashboard-title text-left">
    <h1>What I'm Learning</h1>
  </div>
  <hr />
  <br />
  <% current_user.enrolled_courses.each do |course| %>
    <div class="dashboard-course text-left">
      <h3>
        <%= link_to course.title, course_path(course) %>
      </h3>
    </div>
    <br />
    <div class="text-left">
      <%= image_tag course.image.to_s, class: 'img-fluid' %>
    </div>
    <br />
    <div class="row">
      <div class="col-12 col-sm-8">
        <%= course.description %>
      </div>
      <div class="col-12 col-sm-4 text-center">
        <%= link_to "More Info...", course_path(course), class: 'btn btn-lg btn-secondary' %>
      </div>
    </div>
    <hr class="col-8 offset-2">
    <br class="clr" />
  <% end %>

  <div class="dashboard-title text-left">
    <h1>What I'm Teaching</h1>
  </div>
  <hr />
  <br />
  <% current_user.courses.each do |course| %>
      <div class="dashboard-course text-left">
        <h3>
          <%= link_to course.title, course_path(course) %>
        </h3>
      </div>
      <br />
      <div class="text-left">
        <%= image_tag course.image.to_s, class: 'img-fluid' %>
      </div>
      <br />
      <div class="row">
        <div class="col-12 col-sm-8">
          <%= course.description %>
        </div>
        <div class="col-12 col-sm-4 text-center">
          <%= link_to "More Info", course_path(course), class: 'btn btn-lg btn-secondary' %>
        </div>
      </div>
      <hr class="col-8 offset-2">
      <br class="clr" />
  <% end %>
</div>